<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
      <li><a href="/video">Video Main</a></li>
      <li><a href="/video/stream">A. 영상 출력 (파일 또는 비디오 스트림 데이터 출력)</a></li>
      <li><a href="/video/blend">B. 출력 영상에 Text 또는 이미지를 Blending하여 출력</a></li>
      <li><a href="/video/size">C. 영상 출력 화면 크기 및 위치 조정 기능</a></li>
    </ul>
    <video controls>
      <!-- <source src="movie/big.mp4" type="video/mp4"> -->
      <source src="http://localhost/movie/big.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </body>
  <script>
    <%-include('../../public/javascripts/video.js') %>
  </script>
</html>
